@tailwind base;
@tailwind components;
@tailwind utilities;

.underline-animation::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: black; /* Set color of the underline */
  transition: transform 0.4s ease;
  transform-origin: bottom right; /* Set the origin point for transformation */
  transform: scaleX(0); /* Initially, set the underline to be hidden */
}

.underline-animation:hover::after {
  transition: transform 0.4s ease;
  transform-origin: bottom left;
  transform: scaleX(1); /* Scale the underline to full width on hover */
}

.underlined::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: black; /* Set color of the underline */
  transition: none; /* Disable transition for static underline */
  transform-origin: bottom right; /* Set the origin point for transformation */
  transform: scaleX(1); /* Scale the underline to full width */
}
